<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="table_style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body>
<% include header.ejs %>
<% include base_style.ejs%>


<form action="/KS" method="post">
    <table id="KS_first_table" class="table">
        <colgroup>
            <col style="background:#bec2d4;">
        </colgroup>
        <tbody>
        <% var count = 0; %>
        <% var count_line = 0; %>
        <tr>
            <td>Даты</td>
            <% for (var key in table_body) {
                if (count % (Object.keys(table_body).length / 3) == 0 && count != 0) { %>
        </tr><tr>
                    <% if (count_line == 1) { %>
            <td>Среднее время ответа в чате</td>
            <%
            count_line += 1;
            } else { %>
            <td>Потолок</td>
            <% }}
            %>
            <td><input type="text" class="input_base" name= <%= key%> value=<%=table_body[key] %> ></td>
            <% count +=1; }; %>
        </tbody>
    </table>
    <br>
    <input type="submit" class="button_circle" value="Сохранить таблицу">
</form>
<br>
<form>
    <input type="button" class="button_circle" value="Добавить столбец" onclick="correction('KS_first_table')">
</form>


<% include adding_function.ejs %>


<!--<div class="chartHTML"></div>-->

<!--<canvas id="myChart"></canvas>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js">-->
    <!--var ctx = document.getElementById('myChart').getContext('2d');-->
    <!--var chart = new Chart(ctx, {-->
        <!--// The type of chart we want to create-->
        <!--type: 'line',-->

        <!--// The data for our dataset-->
        <!--data: {-->
            <!--labels: ["January", "February", "March", "April", "May", "June", "July"],-->
            <!--datasets: [{-->
                <!--label: "My First dataset",-->
                <!--backgroundColor: 'rgb(255, 99, 132)',-->
                <!--borderColor: 'rgb(255, 99, 132)',-->
                <!--data: [0, 10, 5, 2, 20, 30, 45],-->
            <!--}]-->
        <!--},-->

        <!--// Configuration options go here-->
        <!--options: {}-->
    <!--});-->
<!--</script>-->

<!--<canvas id="myChart"></canvas>-->


<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<div id="chartdiv"></div>

<style>
    #chartdiv
    {
        width: 100%;
        height: 250px;
    }
</style>

<script>
    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "legend": {
            "equalWidths": false,
            "useGraphSettings": true,
            "valueAlign": "left",
            "valueWidth": 120
        },
        "dataProvider": [{
            "year": "01.01-09.01",
            "time": 60,
            "duration": 1
        }, {
            "year": "10.01-19.01",
            "time": 60,
            "duration": 1
        // }, {
        //     "date": "2012-01-03",
        //     "distance": 3,
        //     "duration": 1
        // }, {
        //     "date": "2012-01-04",
        //     "distance": 1,
        //     "duration": 1
        // }, {
        //     "date": "2012-01-05",
        //     "distance": 0.5,
        //     "duration": 1
        // }, {
        //     "date": "2012-01-06",
        //     "distance": 1,
        //     "duration": 1
        // }, {
        //     "date": "2012-01-07",
        //     "distance": 3,
        //     "duration": 1
        // }, {
        //     "date": "2012-01-08",
        //     "distance": 2,
        //     "duration": 1
        // }, {
        //     "date": "2012-01-09",
        //     "distance": 2,
        //     "duration": 1
        // }, {
        //     "date": "2012-01-10",
        //     "distance": 3,
        //     "duration": 1
        // }, {
        //     "date": "2012-01-11",
        //     "distance": 3,
        //     "duration": 1
        // }, {
        //     "date": "2012-01-12",
        //     "distance": 5,
        //     "duration": 1
        // }, {
        //     "date": "2012-01-13",
        //     "duration": 1,
        // }, {
        //     "date": "2012-01-14",
        //     "duration": 1,
        // }, {
        //     "date": "2012-01-15"
        // }, {
        //     "date": "2012-01-16"
        // }, {
        //     "date": "2012-01-17"
        // }, {
        //     "date": "2012-01-18"
        // }, {
        //     "date": "2012-02-19"
        // }],
        }],
        "valueAxes": [{
            "id": "timeAxis",
            "axisAlpha": 0,
            "gridAlpha": 0,
            "position": "left",
            "title": "time"
        }, {
            "id": "latitudeAxis",
            "axisAlpha": 0,
            "gridAlpha": 0,
            "labelsEnabled": false,
            "position": "right"
        }, {
            "id": "durationAxis",
            "duration": "mm",
            "durationUnits": {
                "hh": "h ",
                "mm": "mm"
            },
            "axisAlpha": 0,
            "gridAlpha": 0,
            "inside": true,
            "position": "right",
            "title": "time"
        }],
        "graphs": [{
            "alphaField": "alpha",
            "balloonText": "[[value]] minuts",
            "dashLengthField": "dashLength",
            "fillAlphas": 0.7,
            "legendPeriodValueText": "total: [[value.sum]] mm",
            "legendValueText": "[[value]] mm",
            "title": "time",
            "type": "column",
            "valueField": "time",
            "valueAxis": "timeAxis"
        }, {
            "bullet": "round",
            "bulletBorderAlpha": 1,
            "useLineColorForBulletBorder": true,
            "bulletColor": "#FFFFFF",
            "bulletSizeField": "townSize",
            "dashLengthField": "dashLength",
            "descriptionField": "townName",
            "labelPosition": "right",
            "labelText": "[[townName2]]",
            "legendValueText": "[[value]]/[[description]]",
            "fillAlphas": 0,
        }, {
            "bullet": "square",
            "bulletBorderAlpha": 1,
            "bulletBorderThickness": 1,
            "dashLengthField": "dashLength",
            "legendValueText": "[[value]]",
            "title": "duration",
            "fillAlphas": 0,
            "valueField": "duration",
            "valueAxis": "durationAxis"
        }],
        "chartCursor": {
            "categoryBalloonDateFormat": "DD",
            "cursorAlpha": 0.1,
            "cursorColor":"#000000",
            "fullWidth":true,
            "valueBalloonsEnabled": false,
            "zoomable": false
        },
        "categoryField": "year",
        "categoryAxis": {
            "gridPosition": "start",
            "axisAlpha": 0,
            "tickLength": 0
        },    
        "export": {
            "enabled": true
        }
        // "dataDateFormat": "MM-DD",
        // "categoryField": "date",
        // "categoryAxis": {
        //     "dateFormats": [{
        //         "period": "DD",
        //         "format": "DD"
        //     }, {
        //         "period": "WW",
        //         "format": "MMM DD"
        //     }, {
        //         "period": "MM",
        //         "format": "MMM"
        //     }, {
        //         "period": "YYYY",
        //         "format": "YYYY"
        //     }],
        //     "parseDates": true,
        //     "autoGridCount": false,
        //     "axisColor": "#555555",
        //     "gridAlpha": 0.1,
        //     "gridColor": "#FFFFFF",
        //     "gridCount": 50
        // },
        // "export": {
        //     "enabled": true
        // }
    });
</script>


</body>
</html>