<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<% include header.ejs %>
<% include base_style.ejs%>
<div>
    Добро пожаловать в Онлайн офис!
</div>
<form action="/OnlineOffice_first_table" method="post">
    <table id="OnlineOffice_first_table" class="table">
        <colgroup>
            <col style="background:#bec2d4;">
        </colgroup>
        <tbody>
            <tr>
                <td>Даты</td>
                <td><input type="text" value="09.01 - 12.01" class="input_base" name="OnlineOffice_first_table_2_1"></td>
            </tr>
            <tr>
                <td>Количество обращений</td>
                <td><input type="text" value="7000" class="input_base" name="OnlineOffice_first_table_2_2"></td>
            </tr>
            <tr>
                <td>Ожидание больше минуты</td>
                <td><input type="text" value="330" class="input_base" name="OnlineOffice_first_table_2_3"></td>
            </tr>
            <tr>
                <td>Потери после обработки</td>
                <td><input type="text" value="70" class="input_base" name="OnlineOffice_first_table_2_4"></td>
            </tr>
            <tr>
                <td>Ожидание более минуты порог (не более 10%)</td>
                <td><input type="text" value="700" class="input_base" name="OnlineOffice_first_table_2_5"></td>
            </tr>
            <tr>
                <td>Порог потерь (не более 7%)</td>
                <td><input type="text" value="490" class="input_base" name="OnlineOffice_first_table_2_6"></td>
            </tr>
            <tr>
                <td>Клиенты ждут больше 1 минуты</td>
                <td><input type="text" value="4,71%" class="input_base" name="OnlineOffice_first_table_2_7"></td>
            </tr>
            <tr>
                <td>Недозвонившиеся клиенты</td>
                <td><input type="text" value="4,01%" class="input_base" name="OnlineOffice_first_table_2_8"></td>
            </tr>
            <tr>
                <td>Потери после обработки</td>
                <td><input type="text" value="4%" class="input_base" name="OnlineOffice_first_table_2_9"></td>
            </tr>
            <tr>
                <td>Недозвонившиеся клиенты</td>
                <td><input type="text" value="1%" class="input_base" name="OnlineOffice_first_table_2_10"></td>
            </tr>
            <tr>
                <td>Потолок недозвоны</td>
                <td><input type="text" value="1" class="input_base" name="OnlineOffice_first_table_2_11"></td>
            </tr>
            <tr>
                <td>Потолок > 1 минуты</td>
                <td><input type="text" value="1" class="input_base" name="OnlineOffice_first_table_2_12"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <input type="submit" class="button_circle" value="Сохранить таблицу">
</form>
<br>
<form>
    <input type="button" class="button_circle"  value="Добавить столбец" onclick="correction('OnlineOffice_first_table')">
</form>


<% include adding_function.ejs %>
<div class="table" id="table-1"></div>
</body>
</html>