<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<% include header.ejs %>
<div>
    Добро пожаловать в СВС!
</div>
<form>
    <input type="button" value="Добавить столбец" onclick="correction()">
</form>
<% include adding_function.ejs %>
</body>
</html>